.page-reader-highlight {
  background-color: #00a2ffa4 !important;
  color: #000000 !important; 
  padding: 2px 4px;
  border-radius: 4px;
  font-style: inherit !important;
  font-weight: inherit !important;
}